.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.pin {
  height: 30px;
  display: flex;
  margin: 0px 10px;
  border: 0;
  outline: none;
  font-size: 16px;
  text-align: center;
  width: 40px;
  border-bottom: 1px solid black;
  background: transparent
}

.MuiBottomNavigationAction-selected-4{

   color:white !important
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input:focus { 
  border-bottom: 1px solid blue;
}

input:not(:empty){
  border-bottom: 1px solid yellow;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}