.countryChange {
    background-size: 'contain';
    background-repeat: 'no-repeat';
    padding-left: 16;
    height: 20;
    width: auto;
    display: inline-block;
    padding-right: 30;
}

[class*="MuiDialog-paper"] {
    margin: 20px !important;
}

[class*="MuiPaper-elevation"] {
    box-shadow: none !important;
}

[class*="MuiPaper-root"] {
    background-color: transparent !important;
}

.activeTab {
    color: #1074ac;
}

.inactiveTab {
    color: #808080;
}

input:focus {
    outline: none
}